name: Generate

on:
  workflow_dispatch:
  push:
    branches-ignore: [ main ]

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Download Go modules
        run: go mod download

      - name: Install protoc-gen-go
        run: go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.28.1

      - name: Generate Protobuf
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: proto

      - name: Mage Test
        uses: magefile/mage-action@v2
        with:
          version: latest
          args: testall

      - name: Add changes
        uses: EndBug/add-and-commit@v9
        with:
          add: livekit
          default_author: github_actions
          message: generated protobuf
